.logo {
  display: flex;
  margin-right: auto;
  margin-top: 12px;
}

.logo__link {
  margin-right: 25px;
}

.logo__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  width: 220px;
  margin-top: 6px;
  opacity: 0.8;
}
