.progres-bar {
  width: 592px;
  height: 46px;
  border-radius: 80px;
  background-color: $white;
  margin: 0 auto;
  padding-top: 7px;
  padding-left: 10px;
  margin-bottom: 77px;
}

.progres-bar__line {
  width: 306px;
  height: 29px;
  position: relative;
  border-radius: 80px;
  background: $safety-orange-three;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      -45deg,
      $white-40 25%,
      transparent 25%,
      transparent 50%,
      $white-40  50%,
      $white-40  75%,
      transparent 0,
      transparent);
    background-size: 20px 20px;
    animation: bar 2s linear infinite
  }
}

@keyframes bar {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: -20px 0;
  }
}

.progres-bar__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: $white;
  margin: 0;
}

.progres-bar__end-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  max-width: 600px;
  margin-left: 370px;
  margin-top: 25px;

  span {
    font-weight: 500;
    margin-left: 10px;
  }
}


.progres-bar__round {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/icon-arrow-three.png") no-repeat;
    width: 100px;
    height: 120px;
    right: 415px;
    top: -98px;
  }
}

.progres-bar__round-bar {
  display: flex;
  justify-content: center;
  align-items: center;


  .progress-ring {
    height: 120px;
    width: 120px;
  }

  .progress-ring__circle {
    fill: #fff;
    stroke: $tangerine-yellow;
    stroke-width: 13px;
    stroke-dasharray: 10 20;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 3s;
  }

  .progress-ring__check {
    fill: $tangerine-yellow;
    display: none;
  }
}

