@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/Museo-Sans-Cyrl-300.woff") format("woff"),
    url("../fonts/Museo-Sans-Cyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/Museo-Sans-Cyrl-500.woff") format("woff"),
    url("../fonts/Museo-Sans-Cyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/Museo-Sans-Cyrl-700.woff") format("woff"),
    url("../fonts/Museo-Sans-Cyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/Museo-Sans-Cyrl-900.woff") format("woff"),
    url("../fonts/Museo-Sans-Cyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



