
$desktop-width: 1225px;

$white: #ffffff;
$white-60: rgba(255, 255, 255, 0.6) ;
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2) ;
$safety-orange: #ff6f04;
$tangerine-yellow: #ffc804;
$tangerine: #ff7905;
$mango-tango: #f26e04;
$safety-orange-two: #ff6a05;
$safety-orange-three: #ff5f04;
$orange-peel: #ff9900;
$orange: #ffaa04;
$romance: #f6f3ed;
$silver: #c1b9b9;


$screamin-green: #45ff58;
$forest-green: #188a24;
